{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Enter the OTP</legend>
				<div class="form-group">
					<!-- {{ form.OTP.label(class="form-control-label") }} -->
					{% if form.OTP.errors %}
						{{ form.OTP(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.OTP.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.OTP(class="form-control form-control-lg") }}
					{% endif %}
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>

	<div class="border-top pt-3">
		<small class="text-muted">
			Didn't receive the OTP? <a class="ml-2" href="#">Resend</a>
		</small>
	</div>
{% endblock %}